# DATA CLEANING

Data cleansing or data cleaning is the process of detecting and correcting corrupt or inaccurate records from a record set, table, or database and refers to identifying incomplete, incorrect, inaccurate or irrelevant parts of the data and then replacing, modifying, or deleting the dirty or coarse data.

We’ll cover the following:

- Dropping unnecessary columns in a DataFrame
- Changing the index of a DataFrame
- Using .str() methods to clean columns
- Using the DataFrame.applymap() function to clean the entire dataset, element-wise
- Renaming columns to a more recognizable set of labels
- Skipping unnecessary rows in a CSV file

Here is the dataset that we will be using:

datacleaning dataset.csv – A CSV file containing information about books from the British Library.

In [1]:
#Importing the required libraries
import pandas as pd
import numpy as np

In [2]:
#Importing the dataset
df=pd.read_csv('datacleaning dataset.csv')

In [3]:
print(df)

      Identifier             Edition Statement      Place of Publication  \
0            206                           NaN                    London
1            216                           NaN  London; Virtue & Yorston
2            218                           NaN                    London
3            472                           NaN                    London
4            480  A new edition, revised, etc.                    London
...          ...                           ...                       ...
8282     4158088                           NaN                    London
8283     4158128                           NaN                     Derby
8284     4159563                           NaN                    London
8285     4159587                           NaN       Newcastle upon Tyne
8286     4160339                           NaN                    London

     Date of Publication                Publisher  \
0            1879 [1878]         S. Tinsley & Co.
1                   1868             Virtue & Co.
2                   1869    Bradbury, Evans & Co.
3                   1851            James Darling
4                   1857     Wertheim & Macintosh
...                  ...                      ...
8282                1838                      NaN
8283            1831, 32          M. Mozley & Son
8284           [1806]-22  T. Cadell and W. Davies
8285                1834         Mackenzie & Dent
8286             1834-43                      NaN

                                                  Title  \
0                     Walter Forbes. [A novel.] By A. A
1     All for Greed. [A novel. The dedication signed...
2     Love the Avenger. By the author of “All for Gr...
3     Welsh Sketches, chiefly ecclesiastical, to the...
4     [The World in which I live, and my place in it...
...                                                 ...
8282  The Parochial History of Cornwall, founded on,...
8283  The History and Gazetteer of the County of Der...
8284  Magna Britannia; being a concise topographical...
8285  An historical, topographical and descriptive v...
8286  Collectanea Topographica et Genealogica. [Firs...

                                                 Author  \
0                                                 A. A.
1                                             A., A. A.
2                                             A., A. A.
3                                             A., E. S.
4                                             A., E. S.
...                                                 ...
8282                 GIDDY, afterwards GILBERT, Davies.
8283                         GLOVER, Stephen - of Derby
8284  LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...
8285                              Mackenzie, E. (Eneas)
8286                                                NaN

                                           Contributors  Corporate Author  \
0                                       FORBES, Walter.               NaN
1          BLAZE DE BURY, Marie Pauline Rose - Baroness               NaN
2          BLAZE DE BURY, Marie Pauline Rose - Baroness               NaN
3                           Appleyard, Ernest Silvanus.               NaN
4                                   BROOME, John Henry.               NaN
...                                                 ...               ...
8282  BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...               NaN
8283                                     NOBLE, Thomas.               NaN
8284           GREGSON, Matthew.|LYSONS, Samuel - F.R.S               NaN
8285                               ROSS, M. - of Durham               NaN
8286            BANDINEL, Bulkeley.|Nichols, John Gough               NaN

      Corporate Contributors Former owner  Engraver Issuance type  \
0                        NaN          NaN       NaN   monographic
1                        NaN          NaN       NaN   monographic
2                        NaN          NaN       NaN   monographic
3                        NaN          NaN       NaN   monographic
4                        NaN          NaN       NaN   monographic
...                      ...          ...       ...           ...
8282                     NaN          NaN       NaN   monographic
8283                     NaN          NaN       NaN   monographic
8284                     NaN          NaN       NaN   monographic
8285                     NaN          NaN       NaN   monographic
8286                     NaN          NaN       NaN    continuing

                                             Flickr URL  \
0     http://www.flickr.com/photos/britishlibrary/ta...
1     http://www.flickr.com/photos/britishlibrary/ta...
2     http://www.flickr.com/photos/britishlibrary/ta...
3     http://www.flickr.com/photos/britishlibrary/ta...
4     http://www.flickr.com/photos/britishlibrary/ta...
...                                                 ...
8282  http://www.flickr.com/photos/britishlibrary/ta...
8283  http://www.flickr.com/photos/britishlibrary/ta...
8284  http://www.flickr.com/photos/britishlibrary/ta...
8285  http://www.flickr.com/photos/britishlibrary/ta...
8286  http://www.flickr.com/photos/britishlibrary/ta...

                                             Shelfmarks
0                     British Library HMNTS 12641.b.30.
1                     British Library HMNTS 12626.cc.2.
2                     British Library HMNTS 12625.dd.1.
3                   British Library HMNTS 10369.bbb.15.
4                      British Library HMNTS 9007.d.28.
...                                                 ...
8282  British Library HMNTS|British Library HMNTS 10...
8283  British Library HMNTS|British Library HMNTS 10...
8284  British Library HMNTS|British Library HMNTS 19...
8285  British Library HMNTS|British Library HMNTS 10...
8286  British Library HMNTS|British Library HMNTS 79...

[8287 rows x 15 columns]

Dropping Unnecessary Columns in a Dataframe

In [5]:
del df['Edition Statement']

In [6]:
print(df)

      Identifier      Place of Publication Date of Publication  \
0            206                    London         1879 [1878]
1            216  London; Virtue & Yorston                1868
2            218                    London                1869
3            472                    London                1851
4            480                    London                1857
...          ...                       ...                 ...
8282     4158088                    London                1838
8283     4158128                     Derby            1831, 32
8284     4159563                    London           [1806]-22
8285     4159587       Newcastle upon Tyne                1834
8286     4160339                    London             1834-43

                    Publisher  \
0            S. Tinsley & Co.
1                Virtue & Co.
2       Bradbury, Evans & Co.
3               James Darling
4        Wertheim & Macintosh
...                       ...
8282                      NaN
8283          M. Mozley & Son
8284  T. Cadell and W. Davies
8285         Mackenzie & Dent
8286                      NaN

                                                  Title  \
0                     Walter Forbes. [A novel.] By A. A
1     All for Greed. [A novel. The dedication signed...
2     Love the Avenger. By the author of “All for Gr...
3     Welsh Sketches, chiefly ecclesiastical, to the...
4     [The World in which I live, and my place in it...
...                                                 ...
8282  The Parochial History of Cornwall, founded on,...
8283  The History and Gazetteer of the County of Der...
8284  Magna Britannia; being a concise topographical...
8285  An historical, topographical and descriptive v...
8286  Collectanea Topographica et Genealogica. [Firs...

                                                 Author  \
0                                                 A. A.
1                                             A., A. A.
2                                             A., A. A.
3                                             A., E. S.
4                                             A., E. S.
...                                                 ...
8282                 GIDDY, afterwards GILBERT, Davies.
8283                         GLOVER, Stephen - of Derby
8284  LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...
8285                              Mackenzie, E. (Eneas)
8286                                                NaN

                                           Contributors  Corporate Author  \
0                                       FORBES, Walter.               NaN
1          BLAZE DE BURY, Marie Pauline Rose - Baroness               NaN
2          BLAZE DE BURY, Marie Pauline Rose - Baroness               NaN
3                           Appleyard, Ernest Silvanus.               NaN
4                                   BROOME, John Henry.               NaN
...                                                 ...               ...
8282  BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...               NaN
8283                                     NOBLE, Thomas.               NaN
8284           GREGSON, Matthew.|LYSONS, Samuel - F.R.S               NaN
8285                               ROSS, M. - of Durham               NaN
8286            BANDINEL, Bulkeley.|Nichols, John Gough               NaN

      Corporate Contributors Former owner  Engraver Issuance type  \
0                        NaN          NaN       NaN   monographic
1                        NaN          NaN       NaN   monographic
2                        NaN          NaN       NaN   monographic
3                        NaN          NaN       NaN   monographic
4                        NaN          NaN       NaN   monographic
...                      ...          ...       ...           ...
8282                     NaN          NaN       NaN   monographic
8283                     NaN          NaN       NaN   monographic
8284                     NaN          NaN       NaN   monographic
8285                     NaN          NaN       NaN   monographic
8286                     NaN          NaN       NaN    continuing

                                             Flickr URL  \
0     http://www.flickr.com/photos/britishlibrary/ta...
1     http://www.flickr.com/photos/britishlibrary/ta...
2     http://www.flickr.com/photos/britishlibrary/ta...
3     http://www.flickr.com/photos/britishlibrary/ta...
4     http://www.flickr.com/photos/britishlibrary/ta...
...                                                 ...
8282  http://www.flickr.com/photos/britishlibrary/ta...
8283  http://www.flickr.com/photos/britishlibrary/ta...
8284  http://www.flickr.com/photos/britishlibrary/ta...
8285  http://www.flickr.com/photos/britishlibrary/ta...
8286  http://www.flickr.com/photos/britishlibrary/ta...

                                             Shelfmarks
0                     British Library HMNTS 12641.b.30.
1                     British Library HMNTS 12626.cc.2.
2                     British Library HMNTS 12625.dd.1.
3                   British Library HMNTS 10369.bbb.15.
4                      British Library HMNTS 9007.d.28.
...                                                 ...
8282  British Library HMNTS|British Library HMNTS 10...
8283  British Library HMNTS|British Library HMNTS 10...
8284  British Library HMNTS|British Library HMNTS 19...
8285  British Library HMNTS|British Library HMNTS 10...
8286  British Library HMNTS|British Library HMNTS 79...

[8287 rows x 14 columns]

In [8]:
 del df['Corporate Author']

In [9]:
print(df)

      Identifier      Place of Publication Date of Publication  \
0            206                    London         1879 [1878]
1            216  London; Virtue & Yorston                1868
2            218                    London                1869
3            472                    London                1851
4            480                    London                1857
...          ...                       ...                 ...
8282     4158088                    London                1838
8283     4158128                     Derby            1831, 32
8284     4159563                    London           [1806]-22
8285     4159587       Newcastle upon Tyne                1834
8286     4160339                    London             1834-43

                    Publisher  \
0            S. Tinsley & Co.
1                Virtue & Co.
2       Bradbury, Evans & Co.
3               James Darling
4        Wertheim & Macintosh
...                       ...
8282                      NaN
8283          M. Mozley & Son
8284  T. Cadell and W. Davies
8285         Mackenzie & Dent
8286                      NaN

                                                  Title  \
0                     Walter Forbes. [A novel.] By A. A
1     All for Greed. [A novel. The dedication signed...
2     Love the Avenger. By the author of “All for Gr...
3     Welsh Sketches, chiefly ecclesiastical, to the...
4     [The World in which I live, and my place in it...
...                                                 ...
8282  The Parochial History of Cornwall, founded on,...
8283  The History and Gazetteer of the County of Der...
8284  Magna Britannia; being a concise topographical...
8285  An historical, topographical and descriptive v...
8286  Collectanea Topographica et Genealogica. [Firs...

                                                 Author  \
0                                                 A. A.
1                                             A., A. A.
2                                             A., A. A.
3                                             A., E. S.
4                                             A., E. S.
...                                                 ...
8282                 GIDDY, afterwards GILBERT, Davies.
8283                         GLOVER, Stephen - of Derby
8284  LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...
8285                              Mackenzie, E. (Eneas)
8286                                                NaN

                                           Contributors  \
0                                       FORBES, Walter.
1          BLAZE DE BURY, Marie Pauline Rose - Baroness
2          BLAZE DE BURY, Marie Pauline Rose - Baroness
3                           Appleyard, Ernest Silvanus.
4                                   BROOME, John Henry.
...                                                 ...
8282  BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...
8283                                     NOBLE, Thomas.
8284           GREGSON, Matthew.|LYSONS, Samuel - F.R.S
8285                               ROSS, M. - of Durham
8286            BANDINEL, Bulkeley.|Nichols, John Gough

      Corporate Contributors Former owner  Engraver Issuance type  \
0                        NaN          NaN       NaN   monographic
1                        NaN          NaN       NaN   monographic
2                        NaN          NaN       NaN   monographic
3                        NaN          NaN       NaN   monographic
4                        NaN          NaN       NaN   monographic
...                      ...          ...       ...           ...
8282                     NaN          NaN       NaN   monographic
8283                     NaN          NaN       NaN   monographic
8284                     NaN          NaN       NaN   monographic
8285                     NaN          NaN       NaN   monographic
8286                     NaN          NaN       NaN    continuing

                                             Flickr URL  \
0     http://www.flickr.com/photos/britishlibrary/ta...
1     http://www.flickr.com/photos/britishlibrary/ta...
2     http://www.flickr.com/photos/britishlibrary/ta...
3     http://www.flickr.com/photos/britishlibrary/ta...
4     http://www.flickr.com/photos/britishlibrary/ta...
...                                                 ...
8282  http://www.flickr.com/photos/britishlibrary/ta...
8283  http://www.flickr.com/photos/britishlibrary/ta...
8284  http://www.flickr.com/photos/britishlibrary/ta...
8285  http://www.flickr.com/photos/britishlibrary/ta...
8286  http://www.flickr.com/photos/britishlibrary/ta...

                                             Shelfmarks
0                     British Library HMNTS 12641.b.30.
1                     British Library HMNTS 12626.cc.2.
2                     British Library HMNTS 12625.dd.1.
3                   British Library HMNTS 10369.bbb.15.
4                      British Library HMNTS 9007.d.28.
...                                                 ...
8282  British Library HMNTS|British Library HMNTS 10...
8283  British Library HMNTS|British Library HMNTS 10...
8284  British Library HMNTS|British Library HMNTS 19...
8285  British Library HMNTS|British Library HMNTS 10...
8286  British Library HMNTS|British Library HMNTS 79...

[8287 rows x 13 columns]

In [10]:
df = df.drop(columns=['Corporate Contributors', 'Former owner', 'Engraver', 'Contributors', 'Issuance type', 'Shelfmarks'])

In [11]:
print(df)

      Identifier      Place of Publication Date of Publication  \
0            206                    London         1879 [1878]
1            216  London; Virtue & Yorston                1868
2            218                    London                1869
3            472                    London                1851
4            480                    London                1857
...          ...                       ...                 ...
8282     4158088                    London                1838
8283     4158128                     Derby            1831, 32
8284     4159563                    London           [1806]-22
8285     4159587       Newcastle upon Tyne                1834
8286     4160339                    London             1834-43

                    Publisher  \
0            S. Tinsley & Co.
1                Virtue & Co.
2       Bradbury, Evans & Co.
3               James Darling
4        Wertheim & Macintosh
...                       ...
8282                      NaN
8283          M. Mozley & Son
8284  T. Cadell and W. Davies
8285         Mackenzie & Dent
8286                      NaN

                                                  Title  \
0                     Walter Forbes. [A novel.] By A. A
1     All for Greed. [A novel. The dedication signed...
2     Love the Avenger. By the author of “All for Gr...
3     Welsh Sketches, chiefly ecclesiastical, to the...
4     [The World in which I live, and my place in it...
...                                                 ...
8282  The Parochial History of Cornwall, founded on,...
8283  The History and Gazetteer of the County of Der...
8284  Magna Britannia; being a concise topographical...
8285  An historical, topographical and descriptive v...
8286  Collectanea Topographica et Genealogica. [Firs...

                                                 Author  \
0                                                 A. A.
1                                             A., A. A.
2                                             A., A. A.
3                                             A., E. S.
4                                             A., E. S.
...                                                 ...
8282                 GIDDY, afterwards GILBERT, Davies.
8283                         GLOVER, Stephen - of Derby
8284  LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...
8285                              Mackenzie, E. (Eneas)
8286                                                NaN

                                             Flickr URL
0     http://www.flickr.com/photos/britishlibrary/ta...
1     http://www.flickr.com/photos/britishlibrary/ta...
2     http://www.flickr.com/photos/britishlibrary/ta...
3     http://www.flickr.com/photos/britishlibrary/ta...
4     http://www.flickr.com/photos/britishlibrary/ta...
...                                                 ...
8282  http://www.flickr.com/photos/britishlibrary/ta...
8283  http://www.flickr.com/photos/britishlibrary/ta...
8284  http://www.flickr.com/photos/britishlibrary/ta...
8285  http://www.flickr.com/photos/britishlibrary/ta...
8286  http://www.flickr.com/photos/britishlibrary/ta...

[8287 rows x 7 columns]

Changing the 'Index' of a Dataframe

In [12]:
df['Identifier'].is_unique

True

In [13]:
df = df.set_index('Identifier')
df.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

In [15]:
#Using the loc() operator
#We can access each record in a straightforward way with loc[]. Although loc[] may not have all that intuitive of a name, it allows us to do label-based indexing, which is the labeling of a row or record without regard to its position-
df.loc[206]

Place of Publication                                               London
Date of Publication                                           1879 [1878]
Publisher                                                S. Tinsley & Co.
Title                                   Walter Forbes. [A novel.] By A. A
Author                                                              A. A.
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Name: 206, dtype: object

Tidying up Fields in the Data

In [18]:
df.loc[1905:, 'Date of Publication'].head(10)

Identifier
1905           1888
1929    1839, 38-54
2836           1897
2854           1865
2956        1860-63
2957           1873
3017           1866
3131           1899
4598           1814
4884           1820
Name: Date of Publication, dtype: object

In [19]:
#Let’s see what happens when we run the regex across our dataset:
extr = df['Date of Publication'].str.extract(r'^(\d{4})', expand=False)
extr.head()

Identifier
206    1879
216    1868
218    1869
472    1851
480    1857
Name: Date of Publication, dtype: object

In [20]:
#Technically, this column still has object dtype, but we can easily get its numerical version with pd.to_numeric:
df['Date of Publication'] = pd.to_numeric(extr)
df['Date of Publication'].dtype

dtype('float64')